@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.notebook, .notebook ol, .notebook li, .notebook button, .notebook p {
    font-family: 'Dancing Script', cursive; 
    font-size: 30px;
  }

.notebook input {
    width: calc(100% - 10px); 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-family: 'Dancing Script', cursive; 
    font-size: 16px; 
  }
  
.notebook h1 {
    text-align: center; 
  }
  
body {
    background-color: #8B4513; 
    background-image: url('https://images.unsplash.com/photo-1506968430777-bf7784a87f23?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover; 
    background-position: center; 
  }
  
.notebook {
    background-color: #f5f5f5; 
    border: 2px solid #8B4513;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px; 
    width: 500px; 
    margin: 0 auto; 
    position: relative; 
    z-index: 1; 
    background-image: url('https://www.shutterstock.com/image-photo/white-crumpled-paper-texture-background-600nw-2210606091.jpg'); 
    background-size: cover; 
}

  .notebook ol {
    padding-left: 20px;
  }
  
  .notebook li {
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.notebook li {
    margin-right: 10px; 
  }
  
  .notebook button {
    background-color: #f44336; 
    color: white; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .notebook p {
    margin-top: 10px; 
    text-align: center;
  }
  

  
